.btn-login {
    min-width: 50px;
    font-size: 14px;
    font-weight: 700;
}

.scrollToTop-red {
    background-color: #e84c3d;
}

.form-text {
    border: 1px solid #f1f1f1;
    background-color: #ffffff;
    padding: 20px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.navbar-custom {
    margin-left: -12% !important; 
}

.hidden {
    visibility: hidden;
}
.dissabled {
    display: none;
}

.btn-toggle {
    min-width: 90px !important;
    background-color: transparent !important;
    color: #666666 !important;
    font-weight: 700 !important;
    border-color: transparent !important;
    padding: 11px 10px 12px 10px !important;
}

.btn-toggle-active {
    min-width: 90px !important;
    background-color: transparent !important;
    color: #e84c3d !important;
    font-weight: 700 !important;
    border-color: transparent !important;
    padding: 11px 10px 12px 10px !important
}

.btn-main {
    min-width: 500px;
    font-size: 20px;
    font-weight: 700;
    min-height: 30px;
}

.temp {
    background-color: #e84c3d;
    font-weight: 700 !important;
}